// ../fonts
// Importing fontawesome core styling file
@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

@font-face {
    font-family: "Pompiere-Regular";
    src: url(../fonts/Pompiere-Regular.ttf) format('truetype'),
        url(../fonts/Pompiere-Regular.eot) format('embedded-opentype'),
        url(../fonts/Pompiere-Regular.otf) format('opentype'),
        url(../fonts/Pompiere-Regular.woff) format('woff'),
        url(../fonts/Pompiere-Regular.woff2) format('woff2');
}

@font-face {
    font-family: "Sybelia";
    src: url(../fonts/Sybelia-Demo.ttf) format('truetype'),
        url(../fonts/Sybelia-Demo.eot) format('embedded-opentype'),
        url(../fonts/Sybelia-Demo.otf) format('opentype'),
        url(../fonts/Sybelia-Demo.woff) format('woff'),
        url(../fonts/Sybelia-Demo.woff2) format('woff2');
}

@font-face {
    font-family: "OratorStd";
    src: url(../fonts/OratorStd.ttf) format('truetype'),
        url(../fonts/OratorStd.eot) format('embedded-opentype'),
        url(../fonts/OratorStd.otf) format('opentype'),
        url(../fonts/OratorStd.woff) format('woff'),
        url(../fonts/OratorStd.woff2) format('woff2');
}

// main
.container {
    #section-one {
    background-image: url("../images/header-bg-img.jpg");
    background-attachment: fixed;
    }
}
h1 {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 43px;
    font-weight: inherit;
    color: #212529;
    text-align: center;
}
h2, .rw-hover-effect, .title-lg {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: inherit;
    color: #212529;
}
h3, .title-sm {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: inherit;
    color: #212529;
}
body {
    color: #212529;
    font-size: 17px;
    margin: 0;
    img {
    max-width: 100%;
    }
    p, a, .date, .rw-hover-effect .title {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none;
        color: #212529;
    }
    .more-btn {
        text-decoration: none;
        font-size: 13px;
        color: #c4c4c4;
        position: relative;
        padding: 5px 10px;
        box-sizing: border-box;
        -webkit-transition: all .20s ease;
        -moz-transition: all .20s ease;
        -ms-transition: all .20s ease;
        transition: all .20s ease;
        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            opacity: 0;
            -webkit-transition: all .20s ease;
            -moz-transition: all .20s ease;
            -ms-transition: all .20s ease;
            transition: all .20s ease;
        }
        &::before {
            border-top: 2px solid #212529;
            border-right: 2px solid #8d9195;
            top: 0;
            right: 0;
            transform: translate(-72%, 36%);
        }
        &::after {
            border-bottom: 2px solid #212529;
            border-left: 2px solid #8d9195;
            bottom: 0;
            left: 0;
            transform: translate(72%, -36%);
        }
        &:hover {
            color: #212529;
            &::before, &::after {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }       
}
.right p,
.rw-hover-effect .description {
    font-family: "Pompiere-Regular", Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.content-lg-width {
    max-width: 1170px;
    margin: 0 auto;
    padding: 3em 0;
}
.content-sm-width {
    max-width: 920px;
    margin: 0 auto;
    padding: 3em 0;
}
.block-content {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin inline {
    width: 30%;
    margin-right: 5em;
    position: relative;
    &:last-child {
        margin-right: 0;
    }
}
// Section One
.main-menu {
    .menu-left, .menu-right {
        display: inline-block;
        vertical-align: top;
        width: 49%;   
    }
    .menu-left {
        .logo {
            width: 37px;;
        }
    }
    .menu-right {
        .line1, .line2, .line3 {
            width: 30px;
            height: 4px;
            display: block;
            background: white;
            margin-bottom: 5px;
        }
    }
    
}

// Section Two
#our-branches {
    .block-content {
        display: flex;
    }
    .inline {
        @include inline;
        .overlay {
            text-align: center;
            visibility: hidden;
            background: white;
            position: absolute;
            bottom: 10%;
            width: 100%;
            padding: 30px 0;
            font-size: 21px;
            opacity: 0.8;
            -webkit-transform: scaleY(0);
            -moz-transform: scaleY(0);
            -ms-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &:hover .overlay {
            visibility: visible;
            -webkit-transform: scaleY(1);
            -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
    
        }
    }
}


// Section Three
#two-cols {
    .left, .right {
        display: inline-block;
        width: 46%;
        vertical-align: top;   
    }
    .right {
        margin-left: 2em;
    }
    .quote {
        h1 {
            text-align: left;
            &::before {
                font-family: "Font Awesome 6 Free";
                content: fa-content($fa-var-quote-left);
                color: #c4c4c4 ;
                font-size: 1.5em;
                display: block;
                padding-bottom: .4em;
            }
        }
        
        .quotee {
            font-size: 13px;
            color: #c4c4c4;
        }
        p {
            font-size: 13px;
            color: #c4c4c4;
        }
    }
}

// Section Four
#section-four {
    background: url("../images/bg-green.jpg") no-repeat fixed center / cover;
    h1, p, a, div {
        text-align: center;
        color: #ffffff;
    }
    p {
        font-size: 22px;
    }
    .event-day-wrapper {
        .event-date {
            display: inline-block;
            font-size: 32px;
            margin-right: 1.5em;
            .date {
                font-weight: 700;
                padding: 18px;
                background: rgba(255, 255, 255, 0.7);
                width: 70px;
                border-radius: 5px;
                color: #212529;
                text-shadow: 1px 2px 0 #797979;
            }
        }
    }
}

// Section Four
.view-row {
    display: flex;
    .rw-three-cols {
        position: relative;
        width: 31.8%;
        // width: calc((100% - 26em) / 2);
        margin: 0 30px 20px 0;
        line-height: 0;
        &:nth-child(3n+3) {
            margin: 0 0 20px 0;
        }
        .rw-hover-effect {
            text-align: center;
            visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;    
        }
        .border-wrap {
            position: absolute;
            border: 5px solid #dfdfdf;
            width: 93%;
            height: 93%;
            top: 2%;
            right: 2%;
            color: #dfdfdf;
            .rw-info {
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                align-items: center;
                justify-content: center;
                flex-direction: column;
                line-height: 1.5;
                .title-lg {
                    color: #dfdfdf;
                    padding-bottom: 1.5em;
                }
                .show-more::before {
                    font-family: "Font Awesome 6 Free";
                    content: fa-content($fa-var-angle-double-down);
                    font-size: 25px;
                }
            }
        }
        &:hover {
            img {
                // filter: brightness(30%);
            }
            .rw-hover-effect {
                visibility: visible;
                background: rgba(26, 26, 25, 0.8);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }
        
    }
}
.view-row-footer {
    text-align: right;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: #e6e5e5;
        margin: 10px 0;
    }
}
// Section Six
#section-six {
    background-color: #e6e5e5;
}

// Section Seven
.logo-wrapper {
    width: 20%;
    margin: 0 20px 0 0;
    &:last-child {
        margin: 0;
    }
}

// Section Eight
#section-eight {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #e6e5e5;
    }

    .inline {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        @include inline;
        .title-lg {
            img, h2 {
            display: inline-block;
            vertical-align: middle;
            }
            img {
                width: 35px;
            }
            h2 {
                margin: 0;
            }
        }
        p {
            font-size: 15px;
        }
        .contact-detail span {
            font-weight: 700;
        }
        .title-sm {
            text-transform: uppercase;
            padding: 15px 0;
            font-weight: 500;
        }
        .services-list {
            line-height: 33px;
        }
    }

}
#gallery {
    .view-row {
        margin-bottom: 7px;
        .view-row-image {
            margin: 0 4px 0 0;
            line-height: 0;

        }
        &#second-row {
            flex-direction: row-reverse;
            #even {
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
        }
        &#third-row {
            transform: rotateX(180deg);
        }

    }
}

// Footer
footer {
    background-color: #3e4c55;
    .copyright {
        color: #c4c4c4;
        text-align: center;
        padding: 2em 0;
    }
}


